[Unit]
Description=SecurityQTPi
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=%i
ExecStart=/usr/bin/python -u /home/pi/test/DoorQTPi/main.py

[Install]
WantedBy=multi-user.target
